@media only screen and (max-width: 375px) 
 { main {
    width:100%;
    }
    section {
    padding:0px;
    margin-bottom:30px;
    }
    .titleBar {
    width:100%;
    height:70px;
    margin-bottom:2%;
    }
    h1 {
    font-size:10vw;
    }
    #dropdownText{
    font-size:4vw;
    }
    .pText
    {
    width:100%;
    margin-top:10px;
    padding:0px;
    margin-left:auto;
    margin-right:auto;
    background-color:#1E2940;
    border-radius:0px;
    }
    p{
        padding:20px;
    }
    #randomText {
    width:100%;

    margin-top: 0px;
    margin-bottom:0%;
    border-radius: 0px;
    
    }
    #dropdownBar {
    width:100%;
    height: 70px;
    margin-top:0px;
    }
    #mainChart {
    max-width:100%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
 
    }

}
@media only screen and (min-width: 376px) 
 { 
    main {
        width:100%;
        }
        section {
        padding:0px;
        margin-bottom:30px;
        }
        .titleBar {
        width:100%;
        height:150px;
        margin-bottom:15%;
        }
        h1 {
        font-size:14vw;
        }
        #dropdownText{
        font-size:4vw;
        }
        .pText
        {
        width:100%;
        margin-top:10px;
        padding:0px;
        margin-left:auto;
        margin-right:auto;
        background-color:#1E2940;
        border-radius:0px;
        }
        p{
            padding:20px;
        }
        #randomText {
        width:100%;
     
        margin-top: 0px;
        margin-bottom:0%;
        border-radius: 0px;
        
        }
        #dropdownBar {
        width:100%;
        height: 70px;
        margin-top:0px;
        }
        #mainChart {
        max-width:100%;
        margin-top:0px;
        margin-left:auto;
        margin-right:auto;
 
        }

}
@media only screen and (min-width: 667px) 
 { 
    main {
        width:100%;
        }
        section {
        padding:0px;
        margin-bottom:30px;
        }
        .titleBar {
        width:100%;
        height:100px;
        margin-bottom:10%;
        }
        h1 {
        font-size:10vw;
        }


}
@media only screen and (min-width: 768px) 
 { 
        main {
        width:95%;
        }
        section {
        padding:0px;
        margin-bottom:30px;
        }
        .titleBar {
        width:100%;
        height:100px;
        margin-bottom:5%;
        }
        h1 {
        font-size:10vw;
        }
        
        .pText{
        width:100%;
        margin-top:10px;
        padding:0px;
        margin-left:auto;
        margin-right:auto;
        background-color:#1E2940;
        border-radius:20px;
        }
        #dropdownText{
        font-size:2vw;
        margin:0%;
        }

}
@media only screen and (min-width: 1024px) 
 {  
    .titleBar {
    width:100%;
    height:100px;
    margin-bottom:5%;
    }
    h1 {
    font-size:8vw;
    }
    #dropdownBarText{
    font-size:4vw;
    margin:0%;
    }
    #randomText {
        background-color:#1E2940;
    border-radius: 20px;
    }

    

}
